body {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 1rem);
  margin: 0.5rem;
  gap: 1rem;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  h1 {
    margin: 0.5rem;
    align-items: center;
    gap: 1rem;
  }
}

.indicator-message {
  font-size: 0.8rem;
  font-weight: normal;

  &.hidden {
    display: none;
  }
}

#blink-indicator {
  color: #0f62fe;

  &::before {
    content: "👁️ ";
  }
}

#help-message {
  color: #666;

  &::before {
    content: "💡 ";
  }
}

button {
  border-radius: 2px;
  border: 1px solid #444444;
  color: black;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    background-color: #e0e0e0;
  }
  
  &.selected {
    background-color: #111111;
    color: white;
    border: 1px solid transparent;
    box-shadow: 0 0 0 2px #0f62fe;

    &:hover {
      background-color: #444444;
    }
  }
  
  &.active-view {
    box-shadow: 0 0 0 3px #ff6b00;
  }
}

main {
  flex-grow: 1;

  &.webcomponents #webcomponents,
  &.react #react,
  &.angular #angular {
    display: block;
  }

  iframe {
    width: stretch;
    height: stretch;
    border: 2px solid black;
    display: none;
  }
}

